* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/space.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.page-colors {
    background-color: #2effdc;
    background-color: #50557f;
    background-color: #51aabf;
    background-color: #333356;
}

#forms {
    min-height: 80vh;
    width: max(30%, 30%);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

#login, #cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.inputs {
    height: 25px;
    color: #333356;
    border: none;
    border-bottom: 1px solid #333356;
    font-size: 1.05em;
    margin: 10px 0 20px 0;
    width: 100%;
    padding: 5px 0px 5px 4px;
    transition: all .3s;
}

.inputs:hover {
    /*border-bottom: 3px solid #333356;*/
    background-color:#50557f17;
    /*padding: 7px 0 7px 4px;*/
}

#log, #cad {
    margin: 40px 0 0 0;
    color: #ffffff;
    background-color: #333356;
    font-size: 1em;
    border: none;
    width: 100%;
    padding: 20px;
    transition: all .3s;
}

#log:hover, #cad:hover {
    cursor: pointer;
    background-color: #50557f;
}

#sigin, #signup {
    margin-top: 20px;
    color: #333356;
    transition: all .5s;
}

#sigin:hover, #signup:hover {
    cursor: pointer;
    color: #50557f;
}

.identifier {
    color: #333356;
    font-size: 1.1em;
}

#form-cadastro {
    display: none;
}

#check, #err-cad {
    text-align: center;
    height: 15px;
    color: #c52323;
}

#cadastrado {
    width: max(300px, 40%);
    height: 25vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#success {
    max-width: 90%;
    font-size: 1.2em;
    color: #333356;
}

#to-login {
    color: #ffffff;
    background-color: #333356;
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
}

#to-login:hover {
    cursor: pointer;
    background-color: #50557f;
}

/*MEDIAS*/

@media (max-width: 1365px) {
    #forms {
        width: max(400px)
    }
}

@media (max-width: 450px) {
    #forms {
        width: 90%;
    }

    .identifier {
        font-size: 1.2em;
    }

    #login, #cadastro {
        width: 80%;
    }

    .inputs {
        font-size: 1.2em;
    }

    #log, #cad {
        font-size: 1.2em;
    }
}