* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/space.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.page-colors {
    background-color: #2effdc;
    background-color: #50557f;
    background-color: #51aabf;
    background-color: #333356;
}

#forms {
    min-height: 80vh;
    min-width: 30%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#usr, #pwd {
    color: #333356;
    border: none;
    border-bottom: 1px solid #333356;
    font-size: 1.05em;
    margin: 10px 0 20px 0;
    width: 100%;
    padding: 5px;
    transition: all .3s;
}

#usr:hover {
    border: none;
    border-bottom: 3px solid #333356;
    background-color:#50557f17;
    padding: 10px;
}

#log {
    margin: 40px 0 0 0;
    color: #ffffff;
    background-color: #333356;
    font-size: 1em;
    border: none;
    width: 100%;
    padding: 20px;
}

.identifier {
    color: #333356;
    font-size: 1.1em;
}

#form-cadastro {
    display: none;
}