* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

.page-colors {
  background-color: #2effdc;
  background-color: #50557f;
  background-color: #51aabf;
  background-color: #333356;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
}

#chat {
  background-color: #8796c2;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#inputMessage {
  display: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
}

.inputMessage {
  display: none;
  width: 94%;
  height: 40px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 1em;
  border: none;
  background-color: transparent;
  color: #50557f;
}

.inputMessage::placeholder {
  color: #50557f;
}

.buttonMessage {
  display: none;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  border: none;
  cursor: pointer;
  transition: all .5s;
  align-items: center;
}

.buttonMessage img {
  height: 40px;
  object-fit: contain;
  transition: transform .5s;
}

.buttonMessage:hover img{
  transform: scale(1.2);
}

.messages {
  display: none;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 90%;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
  margin-bottom: 20px;
  overflow-y: scroll;
}

.messages::-webkit-scrollbar {
  width: 7px;
  transition: all .5s;
}

.messages::-webkit-scrollbar:hover {
  width: 10px;
  background-color: rgba(13, 27, 99, 0.212);
}

.messages::-webkit-scrollbar-thumb {
  background-color: #8796c2;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
}

.div-message {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.date-and-hour {
  font-size: 0.7em;
}

.message {
  margin-top: 7px;
  font-size: 1.1em;
}

#left{
  width: 300px;
  max-height: 100%;
  overflow-y: scroll;
  background-color: #333356;
  color: #FFF;
  transition: width .5s;
}

#left::-webkit-scrollbar {
  width: 0;
}

#top {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

#top p {
  font-size: 1.1em;
}

#logoff {
  position: relative;
  height: 40px;
  width: 60px;
  font-size: 0.9em;
  cursor: pointer;
}

#logoff span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #51aabf;
  box-shadow: 0px 0px 15px #50557f;
  z-index: 1;
  overflow: hidden;
}

#logoff span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(113, 203, 255, 0.356), transparent);
  transform: skewX(20deg) translateX(0);
  transition: 0.8s;
  z-index: -1;
}

#logoff:hover span::before {
  transform: translateX(200%);
}

#icon-add {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
  cursor: pointer;
  transition: all .5s;
}

#icon-add:hover {
  box-shadow: 0 0 20px rgba(113, 203, 255, 0.514);
  border-radius: 20px;
}

.talk {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333356;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #50557f;
  transition: all linear .3s;
}

.talk:hover {
  background-color: #50557f;
  cursor: pointer;
}

.talk-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(rgba(255, 255, 255, 0.664), rgb(104, 114, 243));
  margin: 0 10px 0 0;
}

.talk-user {
  font-size: 1.1em;
}


@media (min-width: 1400px) {
  body {
    background: linear-gradient(#000, rgb(1, 0, 53));
  }

  #main {
    width: 1366px;
    height: 100%;
  }
}

@media (max-width: 800px) {
  #left {
    width: 100px;
  }

  #top {
    flex-direction: column-reverse;
    height: 200px;
    justify-content: space-around;
  }

  .talk {
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
  }

  .talk-user {
    padding-right: 10px;
    font-size: 1em;
  }

  #chat {
    width: 90%;
  }
}